@import "tailwindcss";

@theme {
  --color-primary: #982598;
  --color-accent: #E491C9;
  --color-surface: #15173D;
  --color-background-light: #F1E9E9;
  --color-background-dark: #1f131f;

  --font-sans: "Manrope", sans-serif;
  --font-display: "Manrope", sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-background-light);
  color: var(--color-surface);
}

.glass-nav {
  background: rgba(241, 233, 233, 0.8);
  backdrop-filter: blur(12px);
}

.carousel-container {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 100%;
}